/* global.css or _app.css */
:root {
  --background: #1A1A2E;
  --foreground: #ECEFF1;
  --highlight: #3A86FF;
  --highlight-light: #6AC1FF;
  --accent-light: #BBE1FA; /* Frosty cyan for subtle elements */

  --gray-alpha-200: rgba(255, 255, 255, 0.2); /* Transparent white for background highlights */
  --gray-alpha-100: rgba(255, 255, 255, 0.1); /* Even lighter transparent white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A2E;
    --foreground: #ECEFF1;
    --highlight: #3A86FF;
    --highlight-light: #6AC1FF;
    --accent-light: #BBE1FA; /* Frosty cyan for subtle elements */


  }
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 68px;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
  font-size: 36px;
  font-weight: 400;
}

.highlight {
  color: var(--highlight);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
